*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $base;
  font-family: 'Shippori Antique B1', sans-serif;
  background-color: $dark;
  color: $light;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

section {
  text-align: center;
  height: 100%;

  h2 {
    text-align: left;
    margin: 60px 0 60px 100px;
    font-size: $title;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: -1;
      background-color: $cta;
      width: 80%;
      height: 5px;
    }
  }
}

.price-block {
  display: flex;
  justify-content: space-around;
  height: 300px;

  .price-web, .price-graphic {
    padding: 40px;
    border-radius: 1rem;
    box-shadow: rgba(246, 238, 2, 0.2) 0px 2px 8px 0px;
  }

  ul {
    list-style-type: none;
    text-align: left;
  }
}