*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $base;
  font-family: sans-serif;
  background-color: $light;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

section {
  text-align: center;

  h1 {
    font-size: $title;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      background-color: $cta;
      width: 15%;
      height: 10px;
    }
  }
}