header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.about-text {
  text-align: end;
  color: $light;
  font-size: 4rem;

  strong {
    color: $cta;
  }
}


.logo {
  color: $light;
  font-size: $title-section;
}

nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }

      a {
        padding: 15px;
        text-decoration: none;
        color: $light;
        text-transform: uppercase;
        transition: 0.3s;
        font-size: $link;

        &:hover {
          color: $cta;
        }
      }
    }
  }
}