.price-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.price-card {
  width: 450px;
  margin: 15px 0;
  border: 1px solid $dark;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 50%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 15px 30px;
  border: none;
  background-color: $cta;
  color: $light;
  font-weight: bold;
  font-size: $base;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}