// Variables
// Primary
$dark: #131515;
$light: #F7F7FF;
$cta: #FFD447;

// Fonts
$title: 3.4rem;
$title-section: 2.4rem;
$link: 1.8rem;
$base: 1.6rem;

@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import "general";
@import "header";
@import "price";